{% macro Sidebar(active = 'dashboard') %}
<nav class="cms-sidebar" data-cms="sidebar">
  <div class="cms-logo">UHA CMS</div>
  <ul class="cms-nav">
    {% for tab in cmsTabs %}
    <li>
      <a href="#{{ tab.id }}" class="nav-link{% if active == tab.id %} active{% endif %}">
        {{ tab.label }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endmacro %}

