{% extends "layouts/base.njk" %}
{% import "widgets/site-header.njk" as header %}
{% import "widgets/footer.njk" as footer %}
{% import "widgets/widget-renderer.njk" as widgetRenderer %}

{% block body %}
{# Site Header #}
{{ header.siteHeader(branding, navCategories) }}

<main class="site-main">
  {# Dynamically render widgets based on layout configuration #}
  {% for widget in layout %}
    {{ widgetRenderer.render(widget) }}
  {% endfor %}
</main>

{# Site Footer #}
{{ footer.siteFooter(branding, navCategories) }}
{% endblock %}

{% block scripts %}
<script src="/static/js/carousel.js"></script>
<script src="/static/js/flash-news.js"></script>
<script src="/static/js/mobile-menu.js"></script>
{% endblock %}
