{% macro articleSummary(article) %}
{% if article %}
  {% set summaryText = article.summaryHead or article.summary %}
  {% if summaryText %}
  <div class="article-summary-block" data-widget="article-summary">
    <p class="article-summary-block__text">{{ summaryText }}</p>
  </div>
  {% endif %}
{% endif %}
{% endmacro %}


