{% macro articleCitation(article) %}
{% if article %}
<div class="article-info article-citation-block" data-widget="article-citation">
  {% if article.source %}
  <div class="article-info__item"><strong>Kaynak:</strong> {{ article.source }}</div>
  {% endif %}
  {% if article.outlinks and article.outlinks.length > 0 %}
  <div class="article-info__item">
    <strong>Referanslar:</strong>
    <ul class="article-info__links">
      {% for link in article.outlinks %}
      <li><a href="{{ link }}" target="_blank" rel="noopener">{{ link }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
{% endif %}
{% endmacro %}


