{% macro articleContent(article) %}
{% if article and article.content %}
<div class="article-view__content">
  {{ article.content | safe }}
</div>
{% endif %}

{% if article and article.pressAnnouncementId %}
<div class="article-info">
  <div class="article-info__item"><strong>Basın İlan ID:</strong> {{ article.pressAnnouncementId }}</div>
</div>
{% endif %}
{% endmacro %}

