{% macro articleHeader(article) %}
{% if article %}
<header class="article-view__header">
  {% if article.title %}
  <h1 class="article-view__title">{{ article.title }}</h1>
  {% endif %}
  {% set summaryHighlight = article.summaryHead or article.summary %}
  {% if summaryHighlight %}
  <p class="article-view__summary-highlight">{{ summaryHighlight }}</p>
  {% endif %}
</header>
{% endif %}
{% endmacro %}

