<div class="related-news-widget" data-widget="related-news">
    <h3>İlgili Haberler</h3>
    <div class="related-articles">
        {{#each relatedArticles}}
        <article class="related-article">
            <div class="related-image">
                <img src="{{images.0.lowRes}}" 
                     alt="{{images.0.alt}}" 
                     width="150" 
                     height="100"
                     loading="lazy"
                     data-high-res="{{images.0.highRes}}">
            </div>
            <div class="related-content">
                <h4><a href="/haber/{{slug}}">{{title}}</a></h4>
                <p>{{summary}}</p>
                <span class="related-date">{{publishedAt}}</span>
            </div>
        </article>
        {{/each}}
    </div>
</div>