@font-face {
    font-family: 'Gibson';
    src: url('gibson/Gibson.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('gibson/Gibson-SemiBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


.gibson {
    font-family: "Gibson", sans-serif;
}
